:root{
  --shadow-default: 0 1px 2px rgba(21, 21, 21, 0.9),0 0px 2px rgba(21, 21, 21, 0.9);
  --border-default: solid 1px #1E1E1E;
}

* {
  margin: 0;
  padding: 0;
}

body{
  background-color: #1E1E1E;
  font-family: Atlas Grotesk Web,Atlas Grotesk,AtlasGrotesk,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  margin: 0;
  padding: 0;
  color: white;
  position: relative;
}

/* styles component */
.NavBar{
  position: relative;
  background-color: #353535;
  box-shadow: var(--shadow-default);
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}

.NavBar a{
  text-decoration: none;
  padding: 20px;
  font-size: 18px;
  color: #EFEFF1;
}

.NavBar div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarNavBar{
  background-color: #005BFF;
  border-radius: 100px;
  width: 0.1vh;
  height: 0.1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatAvatarNull{
  background-color: #005BFF;
  border-radius: 100px;
  width: 70px;
  height: 70px;
  font-size: 60px;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Chat{
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 1;
  height: 95vh;
}

.Chat h1{
  text-align: center;
}

.Chat p{
  padding: 5px;
}

.ChatListAll{
  display: flex;
  overflow: auto;
  flex-direction: column;
  width: 20vw;
  border: var(--border-default);
  border-right: none;
}

.ChatListAll::-webkit-scrollbar {
  width: 1em;
}

.ChatListAll::-webkit-scrollbar-thumb {
  background-color: #3D3D3D;
  border-radius: 100px;
}


.ChatList{
  display: inline-flex;
  align-items: center;
  height: 100px;
  color: white;
  border-bottom: 1px solid #716F6F;
  padding: 10px;
}

.ChatList:hover{
  background-color: #353535;
}


.ChatList img{
  border-radius: 50px;
}

.ChatList .text{
  padding-left: 20px;
  width: 100%;
  height: 100%;
}

.GroupListAll{
  display: flex;
  flex-direction: column;
  width: 10vw;
  border: var(--border-default);
  border-right: none;
}

.GroupList{
  display: inline-flex;
  align-items: center;
  height: 100px;
  color: white;
  border-bottom: 1px solid #716F6F;
  padding: 10px;
}

.GroupList:hover{
  background-color: #353535;
}


.GroupList img{
  border-radius: 50px;
}

.GroupList .text{
  padding-left: 20px;
  width: 100%;
  height: 100%;
}


.avatar{
  border-radius: 100px;
  margin: 5px;
}

.UserInfoPanel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar p {
  background-color: #005BFF;
  border-radius: 100px;
  width: 70px;
  height: 70px;
  font-size: 60px;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar img{
  border-radius: 100px;
}

.ChatElement {
  background-color: #1f1f23;
  box-shadow: var(--shadow-default);
  padding: 20px;
  width: 10vw;
}

.OpenChat {
  background-color: #353535;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: show1 0.2s 1;
  border: var(--border-default);
  border-right: none;
}

.AllMessageChat{
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #353535;
  border: var(--border-default);
}

.AlLMessageUser{
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  border: var(--border-default);
  border-top: none;
}

.ChatInfo {
  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.ChatInfo::-webkit-scrollbar {
  width: 1em;
}

.ChatInfo::-webkit-scrollbar-thumb {
  background-color: #3D3D3D;
  border-radius: 100px;
}

.ChatAnswerElement {
  width: 250px;
  padding: 5px;
  margin: 20px;
  background-color: #3D3D3D;
  border-radius: 5px;
  box-shadow: var(--shadow-default);
  margin-left: auto;
}


.ChatInfoElement {
  text-align: right;
  width: 250px;
  padding: 5px;
  margin: 20px;
  background-color: #3D3D3D;
  border-radius: 5px;
  box-shadow: var(--shadow-default);
}

.ChatInfoElementMessage{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ChatInfoElementMessage img:hover{
  cursor: pointer;
}

.text{
  text-align: left;
}

.time{
  text-align: right;
  color: #716F6F;
}

.group{
  text-align: center;
}

.answer {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lastMessage{
  background-color: #3D3D3D;
  box-shadow: var(--shadow-default);
  border-radius: 10px;
  width: 93%;
  height: 50%;
}

.userName{
  font-size: 20px;
}

.Buttons{
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.GroupMessage{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #353535;
  width: 70vw;
  animation: show1 0.2s 1;
  border: var(--border-default);
}

.GroupMessageInfo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.groupBlockChat{
  border: 2px solid #5a5959;
  box-shadow: var(--shadow-default);
  border-radius: 20px;
  height: 55vh;
  margin: 10px;
}

.GroupMessageText{
  background-color: #3D3D3D;
  border-radius: 10px;
  box-shadow: var(--shadow-default);
  padding: 10px;
  width: 250px;
}

.GroupMessageText img:hover{
  cursor: pointer;
}

.groupAnswerComment{
  display: flex;
  justify-content: center;
}

.groupAnswerComment input{
  width: 250px;
}

.groupMessage{
  width: 250px;
  padding: 5px;
  margin: 20px;
  align-self: flex-end;
  background-color: #3D3D3D;
  box-shadow: var(--shadow-default);
  border-radius: 5px;
}

.close{
  width: 99%;
}

.fullScreenImage{
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  width: 100%;
  height: 94.9vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.fullScreenImage img{
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding-top: 20px;
}

.fullScreenImage button{  
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: #00000000;    
  font-size: 35px;
  color: #5a5959;
}

.account{
  display: flex;
  background-color: #353535;
  height: 95vh;
}

.accountPanel{
  width: 15vw;
  display: flex;
  flex-direction: column;
}

.accountPanel div{
  padding: 20px;
  border: var(--border-default);
  border-left: none;
  border-right: none;
  border-top: none;
}

.accountElement{
  width: 85vw;
  display: flex;
  padding: 20px;
  flex-direction: column;
  border: var(--border-default);
}

.accountElement p{
  padding: 10px;
}

.accountAvatar{
  background-color: #005BFF;
  color: white;
  border-radius: 100px;
  width: 8vh;
  height: 8vh;
  font-size: 60px;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AccountUserInfo{
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.AccountUserInfo input{
  width: 200px;
}

.bots{
  background-color: #3D3D3D;
  color: white;
  box-shadow: var(--shadow-default);
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  width: 600px;
  text-align: center;
}

.loading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gray{
  color: #969696;
}

.head h1{
  font-size: 150px;
  text-shadow: 2px 3px 7px white, 
      0 10px 1px #00328f;
}

.head p{
  font-size: 40px;
  text-shadow: 5px 4px 11px rgb(0,0,0), 0 2px 5px rgb(0,0,0);
}

.block{
  padding: 30px;
}

.block p{
  text-align: justify;
  font-size: 16px;
}

.block h1{
  font-size: 45px;
  font-weight: normal;
}

.imageText{
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftImage{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.blockText{
  padding: 20px;
  width: 50vw;
  text-align: justify;
}

.blockImage{
  height: 80vh;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0059ff18;
}

.blockImageMini{
  height: 30vh;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0059ff18;
}

.blue{
  background-color: #001e55;
}

.blue h2, .blue h1, .blue p{
  color: white;
}


.white{
  background-color: white;
}

.white h2, .white h1, .white p{
  color: #00328f;
}

.start{
  text-align: start;
}

.messageMarker{
  background-color: #005BFF;
  border-radius: 100px;
  width: 5px;
  height: 5px;
  margin: 5px;
}

.countMarker{
  background-color: #005BFF;
  border-radius: 100px;
  padding: 10px;
  width: 30px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* styles element*/
p{
  font-size: 14px;
  color: #EFEFF1;
}

h1 {
  font-size: 18px;
  color: #f1f1f5;
  padding: 15px;
  text-align: center;
}

h2{
  font-size: 16px;
  padding: 15px;
}

input {
  width: 750px;
  height: 30px;
  padding: 5px;
  background-color: #3f3e3e;
  box-shadow: var(--shadow-default);
  color: white;
  border: 2px solid #005BFF;
  border-radius: 8px;
  animation: show2 0.5s 1;
}


input:focus-visible{
  animation: show1 0.5s 1;
  outline: none;

}


@keyframes show1{
  0%{
  opacity:0;
  }
  100% {
  opacity:1;
  }
}
@keyframes show2{
  0%{
  opacity:0;
  }
  100% {
  opacity:1;
  }
}

button {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 0;
  background-color: #005BFF;
  box-shadow: var(--shadow-default);

  color: #EFEFF1;
  width: 120px;
  height: 40px;
}

button:hover{
  cursor: pointer;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputLogin{
  background-color: #FFFFFF29;
  color: #EFEFF1;
  width: 20vw;
  height: 3vh;
  border-radius: 5px;
  resize: none;
  animation: show2 0.5s 1;
}

label{
  font-size: 14px;
  color: #969696;
}

ul{
  padding-left: 50px;
  font-size: 16px;
}